:root{
    --blue: rgba(43, 54, 116, 1) !important;
}

img{
    max-width: 100% !important;
}

body{
    font-family: "DM Sans", sans-serif;
    color: var(--blue) ;
    background-color: rgba(244, 247, 254, 1) !important;
}

.container-fluid{
    padding: 0 !important;
}
.content{
    display: grid;
    grid-template-columns: 1fr 5fr;
}
aside{

    background: linear-gradient(90deg, #301F81 10%, #0F0441 90%);
    height: 100vh !important;
}

.side-header{
    border-bottom: 1px solid  rgba(255, 255, 255, 0.17);

} 

.header-h3{
    color: #ffffff;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
}
.header-h3 span{
    font-weight: 300 !important;
    
}
.nav-item{
    border-radius: 15px !important;
}

.nav-item:hover{
    background-color: rgba(255, 255, 255, 0.13);
}

.nav-item:hover .nav-link{
    color: #ffffff !important;
}

.nav-item a{
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 15px !important;
    font-weight: 500;
}
.navbar{
    flex: 1 !important;
    align-items: flex-start !important;
}

.nav-div{
    width: 100%;
}

.nav-div ul {
    width: 100%;
}

.collapse{
    display: unset !important;
}
.footer-aside{    
    padding: 10px;
    border-top: 1px solid  rgba(255, 255, 255, 0.17);
}

.footer-div span{
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;   
}

/* body */

/* header */

.body-header{
    background-color: rgba(244, 247, 254, 1);
}

.heading-body{
    color: var(--blue); 
}

.heading-body p{
    font-size: 14px;
    font-weight: 500;
}
.heading-body h4{
    font-size: 34px;
    font-weight: 700;
}

.heading-search{
    flex: 1;
    max-width: 350px;
    border-radius: 50px;
    background-color: #ffffff;
}

.search-box{
    background-color: rgba(244, 247, 254, 1) !important;
    border-radius: 50px !important;
    border: none !important;
}

.notify-div{
    width: 41px !important;
    height: 41px !important;
    border-radius: 50% !important;
}

.notify-div img{
    border-radius: 50px !important;
}

.notify-div i{
    font-size: 20px;
    color: rgba(163, 174, 208, 1);
}

/* body */

.section-body{
    flex: 1;
}

.card{
border-radius: 20px !important;
}

.card-header-heading h3{
    font-size: 24px !important;
    font-weight: 700 !important;
    color: var(--blue);
}

.card-header-heading select{
    width: fit-content !important;
    padding: .2rem .35rem .2rem .75rem !important;
}

.header-btn{
    border-radius: 16px !important;
    font-size: 15px !important;
    font-weight: 700 !important;
}

.footer-div p{
    color: rgba(112, 126, 174, 1) !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}

.footer-div p span{
    color: rgba(112, 126, 174, 1) !important;
    font-size: 14px !important;
    font-weight: 700 !important;
}
.footer-link a{
    color: rgba(112, 126, 174, 1) !important;
    text-decoration: none;
    font-size: 14px  !important;
    font-weight: 500 !important;
}

.div-body{
    position: relative !important;
    
}

.card-employee{
    visibility: hidden !important;
    position: absolute !important;
    left: calc(25% );
}

.card-employee-edit{
    visibility: hidden !important;
    position: absolute !important;
    left: calc(25% );
}

.employee-delete{
    visibility: hidden !important;
    position: absolute !important;
    left: calc(25% );
}